$back-img: url(../img/m-h-night.jpg);
$famali:'Fresca',sans-serif;
$bagcolore: #21232E;
$bagcarde: #3B3F50;
$beforColor: #FF4E33;
$color-text: #F3F7FA;
$bagColorReady: linear-gradient(to right, #dea305, #de7d27, #d05a3c, #b63f4a, #932d52);
$colorText: #A1C3CE;