$back-img: url(../img/m-h-day.jpg);
$famali: 'Source Sans Pro', sans-serif;
$colorText: #A1C3CE;
$bagcolore: #fff;
$bagcarde: #21232E;
$beforColor: #14A0C7;
$color-text: #2C2F3C;
$bagColorReady: linear-gradient(to right, #65950d, #369442, #009064, #00897c, #008087, #007c8f, #007896, #00739b, #0071ad, #006dbe, #0066cc, #2d5bd4);